.Container {

}
/* 
.brain-coral{
  width:128px;
  height:128px;
  background: url('./images/brain-coral-1.png');
 
} */
.diver {
  width: 6912/27px;
  height: 128px;
  margin: 2% auto;
  background: url('./images/diver.png') left center ;
  animation: play 2s steps(27) infinite;
  animation-direction: alternate;
}

@keyframes play {
    100% { background-position: -6912px; }
}
.Content {

}

.Menu {
  position: fixed;
  right: 30px;
  top: 20px;
  z-index: 10;
  text-align: right;
  transform-origin: bottom right;
  transform: rotate(-90deg) translateX(28px)
}
.Menu nav {
  margin-top: 10px;
  font-size: 18px
}

.Menu nav a {
  margin-left: 20px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  opacity: .5;
  transition: opacity .5s
}

.Menu nav a.selected,.Menu nav a:hover {
  opacity: 1
}

.Menu nav a:first-child {
  margin-left: 0
}


menu,ol,ul {
  list-style: none
}

a {
  color: inherit
}
h1 {
  font-weight: 800;
}
h2 {
  font-weight: 500;
}
