
/* 

 Imports
  
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&family=Rubik+Mono+One&display=swap');

/* 

  Project Images
  
*/

.enthuse-img {
  width:400px;
  opacity: 0.9;
  float: left;
  alt:"enthuse";
  border: solid 5px;
  margin: 20px;
  box-shadow: 10px 15px;
  transition: transform 0.2s;
}
.enthuse-img:hover {
  transform: translate(-15px, -15px);
}

/* 

  Pages Content
  
*/

.grid-container {
  display: grid;
  margin-right: 25%;
  margin-left: 10%;
  margin-top:5%;
  margin-bottom: 5%;
}
.contact-grid-container {
  display:grid;
  margin-right: 25%;
  margin-left: 25%;
  margin-top:5%;
  margin-bottom: 5%;
}
.title { 
  grid-area: title; 
  background-color: #32A29C;
  color: #C4F4D5;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-title { 
  grid-area: contact-title; 
  background-color: #32A29C;
  color: #C4F4D5;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left:40px;
  padding-right: 40px;
}
.content { 
  height:100%;
  width: 100%;
  grid-area: content;
  padding-left: 30px;
  padding-right: 25px;
  box-shadow: 10px 15px;
  background-color: #C4F4D5;
  color:#32A29C ;
}
.contact-content { 
  height:100%;
  width: 100%;
  grid-area: contact-content;
  padding-left: 30px;
  padding-right: 25px;
  box-shadow: 10px 15px;
}
/* .content p {
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
} */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-items { 
  grid-area: about-items;
  padding-left: 5%;
  
  background-color: #32A29C;
  color: #C4F4D5;
}
.about-nav {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: x-large;
  text-decoration: none;
}

@media (min-width:1200px){
  .title { 
   border-radius: 10px 10px 0 0; 
   font-size: 1.5vw;
  }
  .contact-title { 
    border-radius: 10px 10px 0 0; 
    font-size: 1.5vw;
   }
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1fr;
    grid-template-areas: "title title . . ." "about-items about-items content content content" "about-items about-items content content content";
  }
  .contact-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1.6fr;
    gap: 0px 0px;
    grid-template-areas:
      "contact-title"
      "contact-content";
  }
  .about-items {
    padding-top: 15px;
    overflow-y:scroll;
  }
  .content {
    
    
    overflow-y: scroll;
  }
  .contact-content {
    
    
    overflow-y: scroll;
  }
  .content::-webkit-scrollbar {
    display: none;
  }
  .about-items::-webkit-scrollbar {
    display: none;
  }
  /* .about-items { 
    

    background-image:url('./images/corals.png');
    background-repeat:no-repeat;
    background-position:right bottom;
  } */
  .mobile {
    display:none;
  }
}

@media (max-width:1200px){
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "about-items content content content"
    "title content content content"
    "title content content content";
  }
  .contact-grid-container {
    display: grid;
    grid-template-columns: 0.4fr 1.1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "contact-title contact-content";
  }
  .non-mobile {
    display:none;
  }
  .about-items {
    
  }
  .title {
    max-height:498px;
  }
  .title h1{
    transform: rotate(270deg);
    font-size:40px;
  }
  .contact-title {
    
  }
  .contact-title h1{
    transform: rotate(270deg);
    font-size:40px;
  }
  .content {
    
    min-height:700px;
    max-height: 800px;
    overflow-y: scroll;
  }
  .contact-content {
    
    min-height:700px;
    max-height: 800px;
    overflow-y: scroll;
  }
  .mobile ul {
    
    transition: height 0.3s, opacity 0.4s;
    font-size: 36px;
    
  }


}
@media (min-width: 1845px) {
  .contact-grid-container {
    min-height:800px;
  }
  .grid-container {
    min-height: 800px;
  }
  .content {
    min-width: 1000px;
  }
}
@media (min-width:1680px) and (max-width: 1845px) {
  .contact-grid-container {
    min-height:800px;
  }
  .content { 
    min-width: 900px;
    min-height:650px;
  }
}
@media (min-width:1450px) and (max-width: 1680px) {
  .contact-grid-container {
   
    min-height:800px;
  }
  .content { 
    
    min-width: 750px;
    height:650px;
  }
}
@media (min-width: 1400px)  and (max-width:1450px){
  .contact-grid-container {
    
    min-height:500px;
  }
  .content {
    min-width:700px;
    height:550px;
  }
  .about-items {
    max-height:550px;
  }
}
@media (min-width: 1200px)  and (max-width:1400px){
  .content {
    min-width:600px;
    min-height: 800px;
  }
}

/* 

  Header Content

*/

.header-grid-container {
  height:100%;
  width:100%;
  
}
@media (min-width: 800px) {
  .header-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 0.4fr 2fr 0.6fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . . . ." ". sun sun header-title ." ". sun sun header-title ." ". . . . .";
  }
  .header-title { 
    grid-area: header-title;
    align-self: center;
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .header-grid-container {
    display: grid;
    grid-template-columns: 1fr 0.7fr 1.6fr 0.7fr 1fr;
    grid-template-rows: 0.6fr 1.4fr 1.2fr 0.8fr;
    grid-template-areas: ". . . . ." ". . sun . ." ". header-title header-title header-title ." ". . . . .";
  }
  .header-title { 
    grid-area: header-title;
    justify-self: center;
    align-self:normal;
  }
}

.sun {
  grid-area: sun;
  background-image: url('./images/sun.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  
}

/* 

  Bubble Effect On Click

*/
.bubbles {
  width: 160px;
  height: 160px;
  background: url('./images/bubbles.png') left center ;
  animation: play-bubbles 1.5s steps(15);
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes play-bubbles {
  100% { background-position: -2400px; }
}

.mobile-menu {
  opacity:0.3
}
.mobile-close {
  opacity:0.3;
  width: 40px;
  height: 40px;
}

/* 

  Page Sections

*/
#header {
  background-color: #97EBDB;
  font-size: 1.5vw;
  height:100vh;
  width:100%;
  margin-top: 0;
}

#home {
  background-color: rgb(0,194,199);
  padding-bottom: 5%;
  display:flex;
}  

#projects {
  border-style: solid;
  border-width: 32px 0px 0px 0px;
  border-image: url('./images/border1.png') 50 0 fill repeat;
  background-color: rgb(0,134,173);
  display:flex;
  padding-bottom: 5%;

}
#contact {
  border-style: solid;
  border-width: 32px 0px 0px 0px;
  border-image: url('./images/border2.png') 50 0 fill repeat;
  background-color: #005582;
  padding-bottom: 5%;
  display:flex;
}
#footer {
  border-style: solid;
  border-width: 32px 0px 0px 0px;
  border-image: url('./images/border3.png') 50 0 fill repeat;
  background-color: rgb(33,41,62);
  display:flex;
}

/* 

  Menu Stuff

*/


.diver {
  grid-area: nav-diver; 
  width: 256px;
  height: 128px;
  background: url('./images/diver.png') left center ;
  animation: play 2s steps(27) infinite;
  animation-direction: alternate;
}

@keyframes play {
    100% { background-position: -6912px; }
}
@media (max-width:1200px) {
  .menu{
    display: grid;
    grid-template-columns: .6fr 1.4fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "nav-diver nav-links";
  }
}

@media (min-width:1200px) {
  .menu{
    display: block;
  }
}
.menu {
  position: fixed;
  right:0;
  top:-110px;
  z-index: 0;
  transform-origin: bottom right;
  transform: rotate(-90deg) translateX(28px);
}

.menu nav {
  grid-area: nav-links;
  align-self: center;
  font-size: 24px;
}

.menu nav a {
  padding:10px;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity .5s
}

.menu nav a.selected,.menu nav a:hover {
  opacity: 0.5
}



/*

  General Styles

*/

menu,ol,ul {
  list-style: none;
  margin: 0; 
  padding: 0;
}

li.icon {
  background-image:url('./images/yf-tuna-sm.png');
  background-repeat:no-repeat;
  background-position:-3px 0px;
  padding-left:128px;
  padding-bottom: 40px;
  padding-top:20px;  
}
li.icon2 {
  background-image:url('./images/sea-turtle-sm.png');
  background-repeat:no-repeat;
  background-position:10px -10px;
  padding-left:128px;
  padding-bottom: 40px;
  padding-top:20px;  
  background-color: #F49364;
}
.footer-content {
  width: 100%;
  height:200px;
  align-content: center;
}

.lights-out-text {
  display: inline-block;
  color:#83BF5F;
  font-size: medium;
}
.angler-fish-dark {
  background-image:url('./images/anglerfish-light.png');
  background-repeat:no-repeat;
  background-position:10px 10px;
  padding-left:128px;
  padding-bottom: 60px;
  padding-top:40px;  
 
}
.angler-fish {
  background-image:url('./images/anglerfish-sm.png');
  background-repeat:no-repeat;
  background-position:10px 10px;
  padding-left:128px;
  padding-bottom: 60px;
  padding-top:40px;  
}
a {
  color: inherit
}
h1 {
  font-family: 'Rubik Mono One', sans-serif;
  display: block;
}
h2, h3,p,a {
  font-family: 'Open Sans', sans-serif;
}
button {
  background-color:transparent;
	display:inline-block;
  cursor:pointer;
  text-decoration:none;
  border:none;
  outline:none;
}
p {
  font-family: 'Open Sans', sans-serif;
  line-height: 38px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
@media (min-width: 1350px) {
  p {
    font-size: 24px;
  }
}
@media (max-width: 1350px) and (min-width: 801px) {
  p {
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  p {
    font-size: 18px;
  }
}

.tag {
  background-color:#F73708;
  color: white;
  font-size: small;
  border-radius: 10%;
}

.simple-trans-main > div {
  cursor: pointer;
  position: absolute;
  height:100%;
  width:100%;
  will-change: transform, opacity;
}