@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

body {
  color: #bdd57c;
  background: linear-gradient(#289ecc, #263145);
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "DaysOne-Regular";
  src: url("fonts/DaysOne-Regular.ttf")
}

html {
  scroll-behavior: smooth;
}